<h2 id="tableLabel">Employees</h2>

<div style="margin: auto; width: 50%; text-align: center;">
  <p-progressSpinner *ngIf="!employees"></p-progressSpinner>
</div>

<p-table *ngIf="employees" [value]="employees" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} employees">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td *ngFor="let col of cols; index as i;">
        <span *ngIf="i < 2">{{employee[col.field]}}</span>
        <span *ngIf="i == 2">{{employee[col.field] | currency:"USD":"symbol":"1.0-0"}}</span>
        <span *ngIf="i == 3">{{employee[col.field] | date}}</span>
        <button *ngIf="i == 4" pButton type="button" label="Estimate Costs" icon="pi pi-user-edit" (click)="handleButtonClick(employee[cols[0].field])"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td *ngFor="let col of cols; index as i;">
        No employees found
      </td>
    </tr>
  </ng-template>
</p-table>
