:host {
  .spinner {
    margin: auto;
    width: 50%;
    text-align: center;
  }

  .information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;

    > div {
      width: 50%;

      .dependants, .summary {
        padding: .25rem
      }
    }
  }

  .enterbutton {
    transform: scale(0.5);
    vertical-align: middle;
  }

  .paper {
    font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;
    width: 100%;
    margin: 0 auto 10px;
    padding: 6px 5px 4px 42px;
    position: relative;
    color: #444;
    line-height: 20px;
    border: 1px solid #d2d2d2;
    background: #fff;
    background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: linear-gradient(to bottom, #d9eaf3 0%, #fff 8%) 0 4px;
    background-size: 100% 20px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  }

  .paper::before {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    left: 30px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4e4;
  }
}
