<p>Please enter the employees dependants for an estimate on benefits cost</p>

<app-entry-bar (selected)="addDependant($event)"></app-entry-bar>

<div *ngIf="loading" class="spinner">
  <p-progressSpinner *ngIf="!employees"></p-progressSpinner>
</div>

<div *ngIf="!loading" class="information">
  <div>
    <ng-container *ngFor="let d of dependants; let i = index">
      <div class="dependants">
        <span>
          {{ d.name }}
          {{ d | bonusmessage }}
          <button pButton type="button" class="enterbutton p-button-rounded p-button-danger p-ripple p-button p-component p-button-icon-only pi pi-times p-button-sm"  (click)="removeDependant(i)"></button>
        </span>
      </div>
    </ng-container>
  </div>
  <div>
    <div class="summary">
      <ul>
        <li>{{ employee.name }} has a salary of {{ employee.salary | currency:"USD":"symbol":"1.0-0" }}/year</li>
        <li>The take home pay over {{ numberOfPayperiods }} pay periods is {{ (employee.salary/numberOfPayperiods) | currency:"USD":"symbol":"1.0-0"}}/period</li>
        <li>The cost of benefits for {{ employee.name }} is {{ employeeCost | currency:"USD":"symbol":"1.0-0" }}/year</li>
        <li *ngIf="this.dependants.length > 0">The total cost for the benefits for {{ employee.name }} with dependants is {{ employeeTotalCost | currency:"USD":"symbol":"1.0-0" }}/year</li>
        <li>This cost is {{ employeeTotalCost/26 | currency:"USD":"symbol":"1.0-0" }} per pay period</li>
      </ul>
    </div>
  </div>
</div>
