<h1>Company management</h1>

<p>This is a basic web site to look at employee benefits:</p>
<p>Techniques include:</p>
<ul>
  <li><strong>.NET Entity Framework</strong>: Back end RESETful endpoints</li>
  <li><strong>Angular</strong>: Components, unit test, storybook, linting, pipes, services, routing</li>
  <li><strong>NG Prime</strong>: Component library</li>
</ul>
<br />
<p>Why I chose what I did:</p>
<ul>
  <li><strong>.NET</strong>: I used it more in the past, I liked it better than Java and Spring.  Though both are similar and both quite capable.</li>
  <li><strong>More experience with Angular vs React</strong>: I feel it is better for larger project needing more structur</li>
  <li><strong>NG Prime</strong>: I prefer this and Google Material a lot, I just went with this</li>
</ul>
